:root {
  --white: 1 0 0;
  --zinc-50: 98.5% 0 0;
  --zinc-100: 96.7% 0.001 286.375;
  --zinc-200: 92% 0.004 286.32;
  --zinc-300: 87.1% 0.006 286.286;
  --zinc-400: 70.5% 0.015 286.067;
  --zinc-500: 55.2% 0.016 285.938;
  --zinc-600: 37% 0.013 285.805;
  --zinc-700: 37.1% 0 0;
  --zinc-800: 27.4% 0.006 286.033;
  --zinc-900: 21% 0.006 285.885;
  --zinc-950: 14.1% 0.005 285.823;
}
@font-face {
  font-family: "Liana";
  src: url("../fonts/Liana-VF.ttf");
}

$font-liana: "Liana", tahoma;
